fastapi
uvicorn
python-dotenv
torch
transformers
sentence-transformers
tensorflow-cpu
keras
groq
langchain-groq
pinecone
sendgrid
python-http-client
requests
langchain
langchain-core
langchain-text-splitters
streamlit
python-multipart
numpy
tqdm
pydantic
pydantic-core
crewai
chromadb